
.banner{
    padding: 30px 30px 0 150px  ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(229, 84, 115, 0.10);
    ;
}
.banner-conten{
    max-width: 500px;
}
.profile-pic{
   width: 300px;
}

.banner-title{
    color: #272727;
    font-weight: 800;
    font-family: Lato;
        
}
.banner-description{
    font-size: 18px;
}
.btn-primary{
    color: #FFF;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    border-radius: 8px;
    background: #E55473;
    border: 0;

}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
}
.banner-photo-img{
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.banner-photo{
     width: 310px;
    height: 428px; 
    padding: 200px;
    
    
  

}
.banner-photo1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin: 10px;
    margin-left: 200px;
}
.banner-photo2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin: 10px;

}
.banner-photo3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    margin: 10px;


}
.pic-name{
    display: flex;
    justify-content:space-around;
    text-align: center;
    color: #272727;
    text-decoration-line: underline;
    margin-left: 50px;
 

}
/* service related styles */
.service-container{
    color: rgba(39, 39, 39, 0.80);
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 50px;

    

}
.icones{
    width: 40px;
   
}


.sing-up{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin: 100px;
    padding: 100;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}
.Instagram-photo{
    display: flex;
    width: 100px;
    height: 300px;
    justify-content:space-between;
    margin-left: 200px;
   
}
.Get-The-Latest-Deals{
    text-align: center;
    background-image: url("./Flower\ Asset/cover.png") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-size: 1200px 500px;

    

}
.footer-section{
    text-align: center;
    margin-left: 100px;
    background: #111010;
    width: 1200px;
    height: 300px;
}
.footer-title{
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    
    
}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
}
.footer-item{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    }